<!-- Kahvila-komponentin alku -->
<div class="row">
    <div class="col-md-12">
      <h1>Kahvin myynti</h1>
      <label>Pöydän numero</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="poydanNumero">
      <label>Montako annosta</label>
      <input type="text" class="form-control mb-2" [(ngModel)]="myyntiMaara">
      <button class="btn btn-primary mr-2" (click)="kahviaMyyty()">Myynti</button>
      <button class="btn btn-primary" (click)="kahviaTarjoiltu()">Tarjoilu</button>
    </div>
  </div>
  <!-- Kahvila-komponentin loppu -->