.alert-danger {
    color: #80661D;
    background-color: #80661d54;
    
}

div h4 {
    margin: 1rem;
    padding-top: 1rem;
    font-size: 1.4rem;
}

div p {
    margin: 1rem;
    padding-bottom: 1rem;
}