html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
}

body > * {
    padding: 1rem;
}



#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head"
                         "nav  main"
                         "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
  }

  #page > * {
      padding: 1rem;
  }
  
  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }