<ng-template 
    [ngTemplateOutlet]= "productList" 
    [ngTemplateOutletContext] ="{products: model.getProducts() }">
</ng-template>
<ng-template [ngTemplateOutlet]= "productList" [ngTemplateOutletContext] ="{products: model.getProducts() }">
</ng-template>




<ng-template #productList let-products="products">
    <div class="m-5">
        <ul class="list-group mt-2">
            <li  *ngFor="let product of products;" class="list-group-item">
                {{ product.name }}
            </li>
        </ul>
    </div>
</ng-template>









<!-- <div class="m-5">
    <button class="btn btn-primary" (click)=addProduct()>Add Product</button>
    <ul class="list-group mt-2">
        <li class="list-group-item" *ngFor="let product of model.getProducts(); index as i; first as isFirst; last as isLast; odd as isOdd; even as isEven">
            {{ i+1 }} - {{ product.name}}
            <span class="badge bg-primary" *ngIf="isFirst">First item</span>
            <span class="badge bg-success" *ngIf="isLast">Last item</span>
            <span class="badge bg-danger" *ngIf="isOdd"> Odd item</span>
            <span class="badge bg-warning" *ngIf="isEven">Even item</span>
            <button class="btn btn-danger m-3" (click)="deleteProduct(product)">Delete</button>
            <button class="btn btn-warning m-3" (click)="updateProduct(product)">Update</button>
        </li>
    </ul>
</div> -->




<!-- <div [ngSwitch]= "model.getProductCount()"  class="bg-info m-2 p-2">
    <span *ngSwitchCase = "0">There are no products</span>
    <span *ngSwitchCase = "1">There are 1 product</span>
    <span *ngSwitchCase = "2">There are 2 products</span>
    <span *ngSwitchDefault>There are many products</span>
</div>
<div [ngSwitch]= "model.getProductById(2).name"  class="bg-info m-2 p-2">
    <span *ngSwitchCase = "productName">Samsung s21</span>
    <span *ngSwitchCase = "'Samsung Z'">Samsung Z</span>
    <span *ngSwitchCase = "'Samsung Galaxy Note'">Samsung Galaxy Note</span>
    <span *ngSwitchDefault>Other Product</span>
    
</div> -->

<!-- <div *ngIf="model.getProducts().length>0; then productList else noProducts">
    
</div>


<ng-template #productList>
    <div class="bg-primary text-white m-2 p-1">There are {{ model.getProducts().length }} products in the repository.</div>
</ng-template>
<ng-template #noProducts>
    <div class="bg-primary text-white m-2 p-1">There are no products in the repository.</div>
</ng-template>

<div [hidden]= "model.getProducts().length==0" class="bg-primary text-white m-2 p-1">There are {{ model.getProducts().length }} products in the repository.</div>
<div [hidden]= "model.getProducts().length!=0" class="bg-primary text-white m-2 p-1">There are no products in the repository.</div>
 -->

<!-- <input #email (keyup.enter)="onKeyUp(email.value)"/> -->


<!-- <div class="bg-primary text-white m-2 p-2">
    There are {{ model.getProducts().length }} products in the repository.
</div> -->

<!-- <div>
    <h2> {{ product.name  }}</h2>
    <h2 [textContent] = "product.price"></h2>
    <img src="assets/img/{{ product.imageUrl }}" alt="">
    <img [src]="'assets/img/'+product.imageUrl">
</div> -->

<!-- <div [class]= "getClasses(1)">
    First item at catalog is {{ model.getProductById(1).name }}
</div>
<div [class]= "getClasses(5)">
    Second item at catalog is {{ model.getProductById(5).name }}
</div>

<button class="btn btn-primary disabled" [class.disabled] = "disabled" >Submit</button>

<div class= "m-2 p-2" [ngClass]="getClassMap(1)">
    <span [style.color] = "color">First item</span> at catalog is {{ model.getProductById(1).name }}
</div>
<div class= "m-2 p-2" [ngClass]="getClassMap(2)">
    <span [ngStyle]="getStyles(2)">Second item</span> at catalog is {{ model.getProductById(1).name }}
</div>

<div (click)= "onDivClicked()" style="width: 250px; height: 250px; background-color: aqua;">
    <button name="btn1" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
    <button name="btn2" class="btn btn-primary" (click)="onSubmit($event)">Submit</button>
</div> -->
