<div class="card my-2">
    <div class="card-header">
        {{ title }}
    </div>
    <div class="ul-list-group list-group-flush">
        <li *ngFor= "let movie of movies" routerLink='/detail/{{ movie.id }}' class="list-group-item">
            <span class="badge bg-primary">
                {{movie.id}}
            </span>
            {{movie.name}}
            <span (click)="delete(movie)" class="btn-close float-end"></span>
        </li>

    </div>
</div>

<div class="card my-2">
    <div class="card-header">
        Add Movie
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="name"></label>
            <input #name class="form-control">
        </div>

        <div class="form-group">
            <label for="imageUrl"></label>
            <input #imageUrl class="form-control">
        </div>

        <div class="form-group">
            <label for="description"></label>
            <textarea #description class="form-control"></textarea>
        </div>

        <button (click) = "add(name.value,imageUrl.value,description.value); name.value='';imageUrl.value='';description.value=''" class="btn btn-primary btn-sm my-2">Save Changes</button>
    </div>
</div>