/*  ***********
    NAVIGATION
*/

nav#navi {
  background-color: var(--bg-color);
}

nav#navi a {
  color: var(--title2-color);
}

nav#navi img {
  max-width: 50px;
}

nav#navi > div {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
}

nav#navi div i {
  color: var(--title2-color);
  cursor: pointer;
}

nav#navi[data-active="false"] div img {
  margin-left: 45%;
}

nav#navi[data-active="false"] i.fa-times {
  display: none;
}

/* If Menu not opend */

nav#navi[data-active="false"] div[role="list-menu"] {
  display: none;
}

/* IF menu is active */

nav#navi[data-active="true"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 1000000;
}

nav#navi[data-active="true"] div img {
  margin-left: 0;
}

nav#navi[data-active="true"] i.fa-times {
  display: block;
}

nav#navi[data-active="true"] i.fa-bars {
  display: none;
}

nav#navi div[role="list-menu"] ul li {
  font-size: 26px;
  padding: 10px 0;
}

nav#navi li.social > ul {
  display: flex;
}

nav#navi li.social > ul li {
  padding-right: 10px;
}

nav#navi li.social > ul li:nth-child(1) i {
  color: #1877f2;
}

nav#navi li.social > ul li:nth-child(2) i {
  color: #1d9bf0;
}

nav#navi li.social > ul li:nth-child(3) i {
  color: #ff0000;
}

/*  
    NAVIGATION END
***************/

header div.video_container {
  position: relative;
  max-width: 100%;
}

/* Main Header a */
div.btn-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0%;
}
div.btn-header > a {
  padding: 1.5rem 2.5rem;
  background-color: #b02586;
  color: #fff;
  border: none;
  border-radius: 20px;
  opacity: 0.75;
  font-size: 1.6rem;
}

/* Main Header video */
div.video_container > video {
  width: 100%;
  /* height: 69rem; */
  /* position: absolute; */
}

/* Main About US */
#aboutus p {
  background-color: #fff;
  padding: 1.5rem;
  color: #707070;
  line-height: 150%;
}


/*Contact us*/

#contact{
  color: var(--title-color);
}

#contactflex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

#contactflex >*{
  flex-wrap: 1;
  flex-basis: 100%;
  margin: 1rem;
  padding: 1rem;
}

#map{
  display: none;
}

#infotable tr >*{
  padding: 1rem;
  margin: 3rem;
  font-size: 2rem;
}

#infotable tr a{
  text-decoration: underline dotted var(--title-color);
}

/* FOOTER */

.footer {
  max-width: 100%;
  margin: auto;
  background-color: var(--footer-color);
  text-align: center;
  margin-top:40px;
}
.footer .fa {
  font-size: 3rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 3rem 0;
}
.footer_some {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}
.footer_some > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
}

.footer p {
  color: var(--bg2-color);
}