@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;600&display=swap');

/* tämä sivusto on tehty mobile-first*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Glory', sans-serif;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: lightsalmon;
    color: darkmagenta;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;

}
p {
    font-size: 1.6rem;
    margin-bottom: 1rem;

}

.mobiili {

    background-color: darkmagenta;
    color: lightsalmon;
    padding: 1rem;
    display: inline-block;
    margin: -1rem 0 1rem -1rem;

}

.tablet {
    background-color: blanchedalmond;
    color: darkolivegreen;
    padding: 1rem;
    display: none;
    margin: -1rem 0 1rem -1rem;


}

.laptop {
    background-color: darkgoldenrod;
    color: lemonchiffon;
    padding: 1rem;
    display: none;
    margin: -1rem 0 1rem -1rem;


}

hr {
    border-top: solid 0.1rem darkmagenta; 
    border-bottom: 0;
}

/* Tablet säännöt voimassa silloin kun näytön leveys on 426px tai enemmän*/
@media only screen and (min-width: 426px) {
    body {
      color: blanchedalmond;
      background-color: darkolivegreen;
    }
    .mobiili {
        display: none;

    }

    .tablet {
        display: inline-block;
    }

    hr {
        border-color:  blanchedalmond;
      
    }

}

/* Laptop säännöt voimassa silloin kun näytön leveys on 769px tai enemmän*/
@media only screen and (min-width: 769px) {
    body {
        background-color: lemonchiffon;
        color: darkgoldenrod;
    }
    .mobiili {
        display: none;

    }

    .tablet {
        display: none;
    }

    .laptop {
        display: inline-block;
    }

    hr {
        border-color:  darkgoldenrod;
    }

}