/* section {
    background-color: bisque;
    padding: 1rem;
    margin: 1rem;
} */
.app-servers {
    background-color: black;

}
.app-servers * {
    color: bisque;
}

button {
    background-color: blue;
}