@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    
}

body {
    
}

button {
    padding: 6px 8px;
    background-color: #007BFF;
    color: white;
    margin-left: 2rem;
}

#lista li {
    font-size: 1em;
}